@using SportsStore.Domain.Data
@using SportsStore.WebUI.Models
@model ListViewModel<Order>
@{
    Layout = "~/Views/Shared/_UserPanelLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Zamówienia</h2>
        @Html.ActionLink("Cofnij sie do panelu użytkownika", "Login", "Account", null, new { @class = "btn btn-primary" })
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th>Status</th>
                <th>Szczegóły</th>
                <th>Faktura PDF</th>
            </tr>
            @foreach (var item in Model.Elements)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Date</td>
                    <td>@item.Status.Name</td>
                    <td>@Html.ActionLink("Szczegóły", "Index", "OrderList", new {Id = item.Id}, new { @class = "btn btn-success" })</td>
                    <td>@Html.ActionLink("Faktura", "PrintInvoice", "OrderList", new { Id = item.Id }, new { @class = "btn btn-success" })</td>
                </tr>
            }
        </table>
        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x}))
        </div>
    </div>
</div>