@model SportsStore.WebUI.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_UserPanelLayout.cshtml";
}


<div>
        @using (Html.BeginForm()){
            <input type="hidden" name="Id" value="@ViewBag.Id" />
            <div class="col-md-3">
                <div class="form-group">
                    <label>@Html.LabelFor(m => m.OldPassword)</label>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                <div class="form-group">
                    <label>@Html.LabelFor(m => m.NewPassword)</label>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="form-group">
                    <label>@Html.LabelFor(m => m.ConfirmedPassword)</label>
                    @Html.PasswordFor(m => m.ConfirmedPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmedPassword)
                </div>

                <input type="submit" value="Zmień hasło" class="btn btn-primary">
                @Html.ActionLink("Anuluj","Login","Account",null,new{@class="btn btn-warning"})
            </div>
        }
</div>

