@using SportsStore.Domain.Data
@model User
@{
    Layout =  "~/Views/Shared/_UserPanelLayout.cshtml";
}

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Imie</th>
                <th>@Model.FirstName</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nazwisko</td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td>Adres E-mail</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Rola</td>
                <td>@Model.Role.Name</td>
            </tr>
            <tr>
                <td>Adres</td>
                <td>@Model.Address.Street</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>@Model.Phone</td>
            </tr>
            </tbody>
        </table>
        
        @{
            if (HttpContext.Current.User.IsInRole("Administrator")) {
                @Html.ActionLink("Przejdz do panelu administracyjnego", "Index", "Product", null, new { @class = "btn btn-primary" });
            } else {
                @Html.ActionLink("Przejdz do zakupów", "List", "Product", null, new { @class = "btn btn-primary" });
                @Html.ActionLink("Historia zakupów","Index","Order", new { Id = Model.Id }, new{@class = "btn btn-primary" });
            }
        }

        @Html.ActionLink("Zmiana danych", "Edit", "Account", new { Id = Model.Id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Zmiana hasła", "ChangePassword", "Account", new{Id = Model.Id}, new { @class = "btn btn-danger" })
    </div>
</div>
